@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

@import "./components/Body.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: url("../assets/bg.jpg");
  background-position: center;
  background-size: auto;
}

.body__container {
  width: 100%;
  height: 100vh;
}
